.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  margin: 84px 0 24px;
  font-size: 30px;
}

.container input {
  width: 50%;
  padding: 24px;

  background-color: #e6e6e6;
  border: none;
  border-radius: 5px;
}

.container button {
  width: 50%;
  padding: 24px;

  margin: 12px 0 60px;

  border: none;
  border-radius: 5px;
  background-color: #ea4c89;
  color: #fff;
  font-weight: 700;

  transition: filter 0.2;
  cursor: pointer;
}

.container button:hover {
  filter: brightness(0.9);
}
